/* color variables */

$primary-color: #00be8d;
$secondary-color: #f1f1f1;
$secondary-color-light: #f8f8f8;
$secondary-dark: #5e5f6180;
$text-color: #000;
$white: #fff;

/* media queries */

$screen-width-sd: 480px;

/* reset styles */

* {
    box-sizing: border-box;
}

body, ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}


/* elements styles */

.text-box {
    background-color: $white;
    padding: 20px 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.primary-btn {
    width: 100%;
    font-size: 20px;
    background-color: $primary-color;
    color: $white;
    border-radius: 30px;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px rgba($secondary-dark, 0.5);
}

.btn-link {
    color: $primary-color;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
}

.checkbox-item {
    position: relative;
    display: flex;

    .checkbox + label {
        background: none repeat scroll 0 0 $white;
        cursor: pointer;
        height: 20px;
        left: 0;
        position: absolute;
        top: 0;
        width: 20px;
        border-radius: 5px;

        &:after {
            border-style: none none solid solid;
            border-color: $white;
            content: "";
            height: 4px;
            left: 4px;
            opacity: 0;
            position: absolute;
            top: 6px;
            -ms-transform:rotate(-45deg); /* IE 9 */
            -webkit-transform:rotate(-45deg); /* Safari and Chrome */
            transform:rotate(-45deg);
            width: 10px;
        }
    }

    .checkbox {
        visibility: hidden;
        margin-right: 5px;

        &:checked + label {
            background-color: $primary-color;
        }

        &:checked + label:after {
            opacity: 1;
        }
    }
}

/* main styles */

body {
    font-family: 'Work Sans', sans-serif;
    background-color: $secondary-color-light;
    font-size: 14px;
    color: $text-color;
}

.container {
    width: 100%;
    max-width: $screen-width-sd;
    margin: 0 auto;
    padding: 15px 20px;
}

.main {
    padding: 20px 20px;
    background-color: $secondary-color;
    border-radius: 5px;
}

.logo {
    text-align: center;
    margin-bottom: 50px;
    a {
        display: inline-block
    }
}

.tab-btn-group {
    border-radius: 5px;
    padding: 2px;
    display: flex;
    background-color: $white;
    margin-bottom: 20px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;

    li {
        flex-basis: 100%;
    }

    .tab-btn {
        display: block;
        padding: 15px 20px;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        color:  $primary-color;
        text-decoration: none;

        &.active {
            color: $white;
            background-color: $primary-color;
        }
    }
}

.form-section {
    li {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .inline-items {
        display: flex;

        .btn-link {
            margin-left: auto;
        }
    }

    .checkbox-item {
        label {
            font-size: 16px;
        }
    }
}